<ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="parceiros">
        <ion-icon name="business"></ion-icon>
        <ion-label>Parceiros</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="sobre">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="minha-area">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Minha área</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


