.span-saldo{
    line-height: 25px;
}
.pontos1{
    font-size: 10px;
    line-height: 25px;
    font-weight: 700;
}

.nomeuser {
    //background: var(--gradiente-tema) !important;
    //padding: 10px 10px;
}

.text-center{
    text-align: center;
}

.quad4{
    background-color: var(--tema) !important;
    padding: 20px 15px;
    -webkit-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.3);
    box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.3);
    border-radius: 5px;
    color: #fff !important;
}

.quad1 {
    background-color: #fff;
    padding: 20px 15px;
    -webkit-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.3);
    box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.3);
    border-radius: 5px;
}

.ico-btn{
    font-size: 30px !important;
}

.ico-star{
    color: #ffc409 !important;
    font-size: 40px;
}